<footer class="foot">
    <div class="foot-in">
        <div class="foot-left">
            <p>&copy; 2026</p>
        </div>
        <div class="foot-right">
            <a href="https://16by16.co" target="_blank" rel="noopener noreferrer" class="foot-logo-link"><img
                    src="/images/shared/logos/16-16.webp" alt="16/16" class="foot-logo"></a>
            <p>With <a href="https://i-a.ng" target="_blank" rel="noopener noreferrer" class="foot-link">Independent
                    Arts</a></p>
        </div>
    </div>
</footer>
